APP_NAME=LME Scraper API
APP_ENV=development
APP_DEBUG=true

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=metal_harvest_lme
TIMEZONE=America/Bogota
SCRAPER_HEADLESS=true
SCRAPER_TIMEOUT_MS=45000
JWT_SECRET=usa_el_mismo_jwt_secret_de_wmsBack
INTERNAL_SERVICE_KEY=usa_una_llave_interna_compartida_opcional
CORS_ORIGINS=https://qa-frontend.appsfastwaysas.com
CORS_ALLOW_METHODS=GET,POST,PUT,PATCH,DELETE,OPTIONS
CORS_ALLOW_HEADERS=Content-Type,Authorization,X-Internal-Service-Key
CORS_ALLOW_CREDENTIALS=false
ALLOY_UPDATE_URL=http://127.0.0.1:4060/api/aleaciones/actualizar-precios
